Options +FollowSymLinks
RewriteEngine On
RewriteBase /simphpfy/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ index.php?uri=$1 [QSA,L]

<Files simphpfy>
Order Allow,Deny
Deny from all
</Files>
