<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Login</title>
</head>
<body>
    <form data-method="POST" data-helper="simphpfy" data-controller="Member" data-action="Login">
        <h1>Member Login</h1>
        <% if ($error) { %>
        <h3 style="color: red;"><%=$error%></h3>
        <% } %>
        <label for="username">Username:</label><input id="username" type="text" data-helper="simphpfy" data-column="username" />
        <br />
        <label for="password">Password:</label><input id="password" type="password" data-helper="simphpfy" data-column="password" />
        <br />
        <input type="submit" value="Login" />
    </form>
</body>
</html>